.account .container {
    display: flex;
}

.profile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 70px;
    text-align: center;
    font-family: "Livvic", sans-serif;
}

.user>img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid var(--gray);
}

.navbar ul li a{
    display: block;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(203, 200, 200);
    transition: 0.5s;
}

.navbar ul li a:hover {
    background: var(--gray);
    color: var(--white);
    transform: scale(0.95);
}

.tabs {
    width: 100%;
    margin-top: 70px;
}