.account .container {
    display: flex;
    justify-content: space-around;
    padding: 70px;
    width: 100%;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
}

.profile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user>img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid var(--gray);
}

.account small {
    opacity: 0.9;
}

.navbar {
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.navbar .tablinks {
    width: 200px;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(203, 200, 200);
    transition: 0.5s;
    cursor: pointer;
}

.navbar .tablinks:hover,
.navbar .tablinks.active {
    background: var(--gray);
    color: var(--white);
    transform: scale(0.95);
}

.tabs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.tabs .heading {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-bottom: 1px solid rgba(118, 167, 19, 0.15);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tabs .content {
    display: flex;
    justify-content: space-around;
}

.tabs .content label {
    width: 150px;
}

.tabs .content .box {
    width: 250px;
    padding: 10px;
    border: 1px solid rgba(142, 142, 142, 0.15);
}

.tabs .content .input {
    border: none;
}

.tabs .content .date {
    font-size: 20px;
    opacity: 0.8;
}

.tabs .content .menu {
    display: flex;
    justify-content: space-between;
}

.tabs .content .menu .choose {
    display: flex;
}

.tabs .content .menu .choose i {
    opacity: 0.2;
}

.tabs .btn {
    display: flex;
    justify-content: center;
}

.tabs button {
    background: var(--gray);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 1.2s;
}

.tabs button:hover {
    background: rgb(7, 63, 20);
    color: rgb(204, 200, 200);
}

.tabs .tabcontent {
    display: none;
    width: 80%;
}

.tabs .tabcontent.active {
    display: block;
}

@media only screen and (max-width: 760px) {
    .account .container {
        display: block;
    }

    .tabs {
        margin-top: 50px;
    }

    .tabs .tabcontent{
        width: 100%;
    }

    .tabs .content {
        display: block;
        margin: 10px 0;
    }
}