/* Desktop */
.footer {
    width: 100%;
    background-color: var(--gray-dark);
    color: var(--white);
}

.footer .container {
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    flex-wrap: wrap;
}

.footer-center>.container>* {
    width: 300px;
    margin: 20px 10px;
}

.footer-bottom {
    background: var(--dark);
    display: flex;
}

@media only screen and (min-width: 1200px) {

    /* desktop */
    .footer .container {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 760px) {
    /* Phone */
}