.header {
    z-index: 2;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    color: var(--dark);
    background: var(--white);
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(118, 167, 19, 0.15);
    transition: all 500ms ease;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container>* {
    height: 77px;
}

@media only screen and (min-width: 1200px) {
    .header {
        padding-left: 55px;
        padding-right: 55px;
    }
}

.logo {
    width: 20%;
}

.logo img {
    height: 80px;
    padding-left: 20px;
}
.logo .mobile {
    display: none;
  }
  /* when screen is less than 1150px wide
     show mobile version and hide desktop */
  @media (max-width: 1150px) {
    .logo .mobile {
      display: block;
    }
    .logo .desktop {
      display: none;
    }
  }
.nav {
    width: 60%;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation>li {
    padding: 28px 16px;
}

.navigation a {
    font-weight: 600;
    font-family: "Livvic", sans-serif;
}

.dropdown {
    height: 100%;
}

.dropdown>.dropdown-content {
    margin-top: 28px;
    display: none;
    position: absolute;
    background: var(--white);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}

.dropdown>.dropdown-content>li {
    width: 250px;
    padding: 7px 20px;
}

.nav .dropdown:hover>.dropdown-content {
    display: block;
}

.menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.menu-icon>* {
    background: transparent;
    padding: 15px;
}

.search-box {
    border-radius: 30px;
}

.search-box:hover {
    background-color: rgb(248, 248, 248);
}

.search-box .search-form {
    display: flex;
}

.search-box .search-text {
    width: 0px;
    height: 20px;
    transition: width 1s;
    background-color: transparent;
}

.search-box .search-box:focus,
.search-box:hover .search-text,
.search-box .search-text:valid {
    width: 120px;
}

.search-button {
    cursor: pointer;
    background: transparent;
}

.menu-sidebar {
    display: none;
}

.mobile-header {
    display: none !important;
    position: absolute;
    top: 55px;
    width: 100%;
    height: fit-content;
}

.mobile-header.active {
    display: block !important;
}

.mobile-header .container {
    background-color: var(--white);
    margin: 25px 0px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}

.mobile-header .container>li {
    width: 100%;
    height: max-content;
    padding: 10px;
}

.mobile-header .container>li>ul {
    display: none;
    padding-left: 20px;
}

.mobile-header .container>li>ul>* {
    padding: 10px;
}

.dropdown-mobile.active>ul {
    display: block !important;
}

@media only screen and (max-width: 760px) {
    .menu-sidebar {
        display: inline;
    }

    .navigation {
        display: none;
    }
}