 #menu {
    display: block;
    position: fixed;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
    top: 10;
    left: 10;
    width: 208px;
    
  }
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
  span {
    color: var(--color-text-primary);
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  h3 {
    margin-block-end: 0px;
  }
  .menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
    top: 10;
    left: 10;
    width: 208px;
    
  }
  .menu-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
  }
  .menu-button {
    font: inherit;
    color: inherit;
    outline: none;
    border: 0;
    padding: 8px 8px;
    width: 100%;
    
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-bg-secondary);
  }
  .menu-button:hover svg.fa {
      color:  var(--color-text-primary);
    }
  .menu-button span:nth-of-type(2) {
      margin-right: 0;
      position: absolute;
      right: 8px;
      font-size: x-small;
    }
 