:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --light-yellow: #F9F6EF;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #1F1F17;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --light-dark: #d3d3d3;
    --dark: #0C0C0B;

    --breakpoint-smartphone: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-pc: 1200px;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}