.shop-area {

}
.shop-area > .container {
    padding: 0px 55px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-tabs {
    width: 80%;
}
.product-tabs-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-tabs-title 
.nav-tabs {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
/* .product-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.product-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media only screen and (max-width: 1300px) {
    .product-area {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 575px) {
    .product-area {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 575px) {

    .product-area {
        grid-template-columns: auto auto;
    }
}
.product-item {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    margin: 10px 10px;
    border-radius: 20px;
    border: 0.5px solid rgb(233, 233, 233);
    overflow: hidden;
}
.product-item > .container {
    padding: 20px;
}
.product-item-top {
    position: relative;
}
.product-item-top > img {
    width: 100%;
}
.product-item-top > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 20px;
    align-items: center;
    color: var(--white);
    background: var(--red);
}
.product-rate {
}
.product-rate > * {
    color: var(--light-dark);
}
.product-rate > *.active {
    color: var(--yellow)
}
.product-item-bottom {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
}
.product-price {
    font-size: 20px;
}
.product-price .price {
    color: var(--green);
}
.product-item .old-price {
    text-decoration: line-through;
    color: var(--gray);
    font-size: 15px;
}
.product-add-cart > span {
    padding: 15px 30px;
    border-radius: 5px;
    background: var(--green-light);
    color: var(--green);
    transition: all 0.5s;
}
.product-add-cart > span:hover {
    background: var(--green);
    color: var(--green-light);
}
.primary-sidebar {
    width: 0%;
    height: auto;
}
@media only screen and (max-width: 760px) {

}