.shop-area {
    font-family: Helvetica,Arial,sans-serif;
}

.shop-area>.container {
    padding: 0px 55px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-tabs {}

.product-tabs-title {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-tabs {
    display: inline-flex;
    width: 70%;
    justify-content: space-around;
}
.nav-tabs .nav-item > * {
    background: transparent;
}

/* .product-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.product-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Product item */
.product-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 210;
    margin: 10px 10px;
    border-radius: 20px;
    border: 0.5px solid rgb(233, 233, 233);
    overflow: hidden;
    position: relative;
}

.product-item>.container {
    padding: 20px;
}

.product-item .label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 60px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.product-item .label.hot {
    background: var(--red);
}
.product-item .label.hot::after {
    content: 'Hot';
}

.product-item .label.sale {
    background: var(--green);
}
.product-item .label.sale::after {
    content: 'Sale off';
}

.product-item-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
}

.product-item-top .product-img {
    height: 80%;
    transition: transform 0.2s;
}

.product-item:hover .product-img {
    transform: scale(1.05);
}

.product-rate>* {
    color: var(--light-dark);
}

.product-rate>*.active {
    color: var(--yellow)
}

.product-item-center .product-category {
    color: var(--gray);
    font-size: 13px;
}

.product-item-center .product-name {
    font-size: 18px;
    line-height: 30px;
}

.product-item-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}

.product-price .price {
    font-size: 17px;
    color: var(--green);
}

.product-item .old-price {
    text-decoration: line-through;
    color: var(--gray);
    font-size: 13px;
}

.product-add-cart>span {
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    background: var(--green-light);
    color: var(--green);
    transition: all 0.5s;
}

.product-add-cart>span:hover {
    background: var(--green);
    color: var(--green-light);
}

.product-pagination {
    display: flex;
    justify-content: center;
}
.product-pagination .page-item {
    margin: 20px;
}
.product-pagination .page-item > *{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.253);
}

@media only screen and (max-width: 1049px) {
    .shop-area .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 870px) {
    .product-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 760px) {
    .product-item {
        margin: 5px;
    }
}

@media only screen and (max-width: 576px) {
    .product-area {
        grid-template-columns: repeat(2, 1fr);
    }
    .shop-area .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .product-item {
        margin: 3px;
    }
}