.sign-up {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign .container {
    width: 600px;
    height: 600px;
    display: block;
    justify-content: center;
    align-items: center;

}

.sign-up .container form {}

.sign-up .container .group-form input {
    margin: 700px;
}