.slideshow-banners {
    position: relative;
}

.slideshow-banners>.container {
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slideshow-banners .slide-content {
    width: max(30%, 500px);
    line-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    padding-bottom: 40px;
}

.slideshow-banners .slide-content>p {
    font-size: 40px;
}

.slideshow-banners .slide-content .description {
    font-size: 20px;
    color: var(--gray);
    line-height: 40px;
}

.slideshow-banners .slide-content>h1 {
    font-size: 50px;
}

.slideshow-banners .slide-content .slide-btn {
    display: flex;
}

.slideshow-banners .slide-content .slide-btn a {
    padding: 10px 20px;
    background: var(--orange);
    border-radius: 7px;
    margin-left: 10px;
    white-space: pre;
}

.slideshow-banners .slide-image {
    position: relative;
}

.slideshow-banners .slide-image .image {
    width: 100%;

}

.slideshow-banners .slide-image .offer {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-banners .arrow>* {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: transparent;
    transition: 0.5s all;
    color: var(--light-dark);
    box-shadow: 0px 0px 60px var(--light-dark);
}

.slideshow-banners .arrow>*:hover {
    box-shadow: 0px 0px 10px var(--gray);
    color: var(--gray)
}

.slideshow-banners .arrow .left {
    left: 0px;
}

.slideshow-banners .arrow .right {
    right: 0px;
}

@media only screen and (max-width: 400px) {
    .slideshow-banners .slide-content {
        width: 100%;
    }
}