*,
::before,
::after {
	padding: 0;
	margin: 0;
}

.cart-detail .container {
	/* height: 100vh; */
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items: flex-end;
	/* background-color: rgb(247, 247, 247); */
	width: 100%;
}

.cart-detail-table h2 {
	text-align: left;
	position: relative;
	left: 120px;
}

.container .cart-detail-table table {
	height: 100vh;
	min-height: 90vh;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.cart-detail-table tr {
	border-bottom: 2px solid var(--green-light);
}

.cart-detail-table thead,
.cart-detail-table tbody {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-detail-table th,
.cart-detail-table td {
	padding: 20px;
	width: 20vh;
	text-align: center;
	line-height: 25px;
}

.cart-detail-table th:first-child,
.cart-detail-table td:first-child {
	width: 30%;
}

.cart-detail-table th:nth-child(4) {
	width: 25%px;
}

.cart-detail-table td .price,
.cart-detail-table td .delete {
	margin: 5px;
}

.cart-detail-table tbody {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.cart-detail-table img{
	width:100px;
}
.cart-detail-table .totalPrice {
	display: flex;
	margin: 5% 10% 1% 65%;
}

.cart-detail-table .group-option,
.button-delete {
	margin: 20px;
	display: flex;
	justify-content: space-around;
}

.group-option .button-add,
.button-delete {
    cursor: pointer;
    padding: 5px;
    color: aliceblue;
    border-radius: 5px;
    background-color: var(--cyan);
}

.group-option .button-add:hover,
.button-delete:hover {
    background-color: var(--orange);
    transition: all 0.1s linear;

}

.action {
	width:100%;
	display: flex;
    justify-content: space-around;
}