.content-body {
	margin-left: 15px;
}

.dashboard-action {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content h2 {
	text-align: left;
	margin: 15px 0 15px 15px;
}
.admin-profile {
	position: fixed;
	width: 300px;
	text-align: center;
	display: flex;
	height: 200px;
	justify-content: space-between;
	flex-direction: column;
}
.left-sidebar {
	color: #9faec1;
	background-color: #1f2937 !important;
}
.sidebar-nav {
	position: fixed;
	top: 300px;
	width: 300px;
}
.sidebar-nav-item:hover {
	color: white;
	background-color: #1f2531;
}
.dashboard-action form {
	margin-left: 10px;
	border-radius: 20px;
}

.dashboard-action form {
	margin: 20px;
}

.dashboard-action input[type='submit'] {
	cursor: pointer;
}

.dashboard-action form input {
	border: 1px solid rgb(211, 211, 211);
	margin: 3px;
}

.dashboard-action #button-add-product {
	height: 40px;
	width: 50px;
	margin-right: 20px;
	cursor: pointer;
	/* border: 1px solid rgb(211, 211, 211); */
	border-radius: 5px;
}

.dashboard-action form input:first-child {
	height: 40px;
	width: 300px;
	padding: 20px;
	border-radius: 5px;
}

.dashboard-action form input:nth-child(2) {
	height: 40px;
	border-radius: 5px;
	padding: 10px;
}

.dashboard-action form input[type='submit']:hover,
.dashboard-action button:hover {
	background-color: rgb(185, 185, 185);
	transition: all 0.3s linear;
}

.profile-image {
	display: flex;
	justify-content: center;
	border-bottom: 1px rgb(197, 197, 197);
}

.profile-image img {
	border-radius: 50%;
	width: 100px;
	margin: 10px;
}

.sidebar-nav li {
	height: 45px;
	display: flex;
	align-items: center;
	padding: 20px;
}

.left-sidebar {
	background-color: rgba(228, 228, 228, 0.637);
}

.sidebar-nav .active {
	border-left: 5px solid black;
	color: white;
	background: #1f2531;
}

.table-item .table-item-top img {
	width: 64px;
}

.table-item .table-item-top .fa-trash {
	color: red;
}

.table-item .table-item-top .fa-edit {
	color: rgb(0, 153, 255);
}

.table-item .table-item-top .fa-ban {
	color: rgb(238, 210, 0);
}

.dashboard-table {
	margin: 20px;
	padding: 20px;
	background-color: white;
	overflow: 2;
	border-radius: 20px;
}

.dashboard-table .table-head th {
	padding-bottom: 30px;
}



/*****************************************************************************     thêm sản phẩm       *****************************************************************/

.form-group-product {
	display: none;
}

/***************************************************************************** css js quản lí sản phẩm **************************************************************************/

.table-item .table-item-bottom .form-group-product {
	text-align: start;
	padding: 10px;
	display: grid;
	grid-template-columns: 20% 25% 25% 15% 15%;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.dashboard-table-product {
	display: none;
}

.active {
	display: inline;
}
.form-action .group-form-option {
	margin: 10px;
}

.group-form-option input {
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(230, 230, 230, 0.726);
	border-radius: 5px;
}

.group-form-option label {
	display: block;
}

.edit-name {
	grid-area: 1 / 1 / 2 / 2;
}

.edit-tag {
	grid-area: 1 / 2 / 2 / 3;
}

.edit-picture {
	grid-area: 1 / 3 / 2 / 4;
}

.edit-amount {
	grid-area: 1 / 4 / 2 / 5;
}

.edit-price {
	grid-area: 1 / 5 / 2 / 6;
}

.edit-describe {
	grid-area: 2 / 1 / 3 / 6;
	margin-top: 30px;
}

.edit-describe textarea {
	padding: 10px;
	width: 100%;
	height: 100px;
	border: 1px solid rgba(230, 230, 230, 0.541);
}

.edit-describe label {
	text-align: left;
}

.edit-option {
	grid-area: 3 / 4 / 4 / 6;
}

.edit-option #submit,
.edit-option #cancel {
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 20px;
	border: 0.1px solid rgba(223, 223, 223, 0.781);
}

.edit-option #submit:hover,
.edit-option #cancel:hover {
	background-color: rgb(185, 185, 185);
	transition: all 0.3s linear;
}

/*******************************************************************      thêm user   ********************************************************/

.form-group-user {
	display: none;
}

/******************************************************************* css quản lí user *****************************************************************************/

.table-item .table-item-bottom .form-action {
	text-align: start;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}


/* .form-group-user {
	margin-top: 10%;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 20px;
} */

.group-form-option-user {
	margin: 10px;
	width: 100%;
}

.group-form-option-user input {
	height: 50%;
	border: 0.5px solid rgb(128, 128, 128);
}

.group-fullName {
	grid-area: 1 / 1 / 2 / 2;
	width: 50%;
}

.group-dateOfBirth {
	grid-area: 1 / 2 / 2 / 3;
	width: 50%;
}

.group-email {
	grid-area: 1 / 3 / 2 / 4;
	width: 100%;
}

.group-gender {
	grid-area: 1 / 4 / 2 / 5;
	width: 40%;
	height: 60%;
	cursor: pointer;
	border-radius: 5px;
}

.group-image {
	grid-area: 2 / 1 / 3 / 2;
}

.group-phoneNumber {
	grid-area: 2 / 2 / 3 / 3;
}

.group-address {
	grid-area: 2 / 3 / 3 / 5;
	width: 90%;
	border-radius: 5px;
}

.group-status {
	grid-area: 3 / 1 / 4 / 2;
	width: 70%;
	height: 60%;
	cursor: pointer;
	border-radius: 5px;
}

.group-role {
	grid-area: 3 / 2 / 4 / 3;
	width: 40%;
	height: 60%;
	cursor: pointer;
	border-radius: 5px;
}

.group-password {
	grid-area: 3 / 3 / 4 / 4;
}

.group-option-user {
	grid-area: 4 / 3 / 5 / 5;
}

.group-option-user #submit,
.group-option-user #cancel {
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 20px;
	border: 0.1px solid rgba(223, 223, 223, 0.781);
}

.group-option-user #submit:hover,
.group-option-user #cancel:hover {
	background-color: rgb(185, 185, 185);
	transition: all 0.3s linear;
}

/********************************************************************** quản lí trang chủ ************************************************************************/

.content-statistical {
	display: flex;
	justify-content: space-around;
}

.group-content-statistical {
	border: 1px solid rgba(124, 124, 124, 0.342);
	height: 100px;
	width: 200px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dashboard-receipt {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(124, 124, 124, 0.342);
}

.table-item .table-item-top .fa-eye {
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

.table-item .table-item-top .fa-eye:hover {
	background-color: rgba(148, 148, 148, 0.788);
	transition: all 0.3s linear;
}

/******************************************************************** Quản lí đơn hàng **********************************************************************/

.table-item-bottom {
	display: inline;
}

.right-content {
	background: #f6f7fb;
}

.dashboard-action form {
	border-radius: 3px;
	background-color: white;
}
.dashboard-action form input {
	border: none;
}

button[onclick],
.dashboard-action form input[type='submit'] {
	background: none;
	min-width: 30px;
	min-height: 30px;
}

button[onclick]:hover,
.dashboard-action form input[type='submit']:hover {
	color: #f6f7fb;
	border-radius: 5px;
	background: #222936 !important;
	display: inline-block;
	min-width: 30px;
	min-height: 30px;
}
.dashboard-action input[type='submit'] {
	background: #ececec !important;
}
.dashboard-action button {
	background: #ffffff !important;
}

.table-item-bottom input {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(134, 134, 134, 0.308);
	border-radius: 3px;
	box-sizing: border-box;
	padding:10px;
}
