a.product-category {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a.product-category.meat::after {
	content: 'Thịt';
}
a.product-category.vegetable::after {
	content: 'Rau củ';
}
a.product-category.spice::after {
	content: 'Gia vị';
}
a.product-category.noodle::after {
	content: 'Mì';
}
a.product-category.egg::after {
	content: 'Trứng';
}
a.product-category.fruit::after {
	content: 'Trái cây';
}
a.product-category.seafood::after {
	content: 'Hải sản';
}
a.product-category.fruit-box::after {
	content: 'Túi hoa quả';
}
